$bg-w1:#ffffff;$bg-w2:#f7f8fa;
$bg-w3:#fafafa;$bg-w4:#ffffff80;
$bg-y:#e9d758;
$bg-r1:#e56768;$bg-r2:#da5f60e6;
$bg-b1:#454545;$bg-b2:#3d404f;
$bg-b3:#000000;$bg-b4:#000000cc;
$txt-w1:#ffffff;$txt-w2:#ffffffcc;
$txt-y:#e9d758;
$txt-gn:#79b530;
$txt-r:#e56768;
$txt-gy1:#8b8b8a;$txt-gy2:#7f7f7f;$txt-gy3:#74777b;
$txt-gy4:#70727e;$txt-gy5:#5c5e6c;$txt-gy6:#434959;
$txt-b1:#454545;
$txt-b2:#3d404f;$txt-b3:#3f3f3f;$txt-b4:#223441;
$txt-b5:#252525;$txt-b6:#151515;$txt-b7:#000000;
